* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    color:#ccc;
    font:13px Helvetica, Arial;
    background:#444;
}

form {
    height:70px;
    background:#555;
    padding:5px;
    position:fixed;
    bottom: 0;
    width: 80%;
}

form input {
    color:#ddd;
    border:0;
    background:#666;
    padding:10px;
    width: 96%;
    margin: 10px 2%;
}

form select, textarea {
    color:#ddd;
}

form textarea:focus, input:focus {
    color:#ddd;
}

#sidebar {
    background:#444;
    position:fixed;
    bottom:0;
    right:0;
    width:20%;
    height:100vh;
    margin:0;
    padding:15px;
    border-left: 1px #444 solid;

}

#userlist {
    list-style-type:none;
    padding:10px;
    overflow:auto;
    height:calc(100vh - 70px);
}

#messages {
    position:fixed;
    bottom:70px;
    left:0;
    width:80%;
    max-height:calc(100vh - 70px);
    overflow:auto;
    list-style-type:none;
    margin:0;
    padding:5px; }

#messages li {
    padding:5px 20px;
    overflow-wrap: break-word ;
}

#time {
    color:#888;
}

#nick {
    font-weight:normal;
}

#nicklabel {
    font-weight:bold;
    position: fixed;
    bottom:0;
    height:70px;
    width:100%;
    background: #444;
    padding:26px 10px;
}

#msg {
    color:#ddd;
    font-weight:bold;
}
